# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Assignment\2017601854_DoQuocPhong_CNTT2_K12_Webbangiay\Sneaker.com\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
